<a href="https://colab.research.google.com/github/merriekay/CS167Code/blob/main/Day03_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An example of a markdown cell<br>
Author: <b>Your name here</b><br>
Date: February 4, 2020
# Python and Pandas Exercises

In [2]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
#import the data:

#make sure the path on the line below corresponds to the path where you put your dataset.
titanic = pandas.read_csv("/content/drive/MyDrive/CS167_S21/CS167_datasets/titanic.csv")

In [ ]:
# what is the data type of titanic?
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# what are the features (column titles) of the titanic dataset?

In [ ]:
# display only the 'embark_town' column of the titanic data

In [ ]:
# what is the data type of the result of the previous cell?

In [ ]:
# what is the "shape" of the data frame?

In [ ]:
# make a subset (call the variable 'subset') of the data that consists of the last 20 rows of the data;
# verify that your subset has 20 rows

In [ ]:
# use loc to print out the data for passenger 890 on the titanic dataframe
# use iloc to print out the data for passenger 890 on the subest dataframe

In [ ]:
# use a markdown cell; describe the difference between loc and iloc

In [ ]:
# create a subset of the data (call the variable 'queenstown_subset') that consists only of passengers with
# a 'embark_town' that is "Queenstown"
# hint: if you get a warning, you may need to explicitly note that you are making a copy of the original data by using 
# the .copy() function

In [ ]:
# how many passengers are in queenstown_subset?

In [ ]:
# what is the average fare for all of those in the queenstown_subset?

In [ ]:
# what is the average age for all of those in the queenstown_subset?
# do all of the passengers have an age recorded? What is recorded if there is no age?

In [ ]:
# What does unique(), mean(), isnull(), and fillna() do? Use a markdown cell to write your answers
# Use the Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

In [ ]:
# give examples of your use of unique(), mean(), median(), isnull()

In [ ]:
# in the queenstown_subet dataframe
# for each row that does not have an age recorded, replace the NaN value with the calculated average
# hint: don't use a loop; it can be done in 1 line of code using fillna()

In [ ]:
# load in the iris data
# what is the median sepal width of just the Setosas?

In [ ]:
# for those iris that are classified as versicolor and have 
# a petal-length > 4, what is the average sepal width?